.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-container button {
    min-width: 40px;
}

.pagination-container button[active] {
    color: var(--primary-color);
    text-decoration: underline;
}

