.action-bar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.action-bar input {
    padding: 8.25px 10px;
    border-radius: 5px;
    border: 1.5px solid var(--border-color);
    width: 200px;
}


.action-bar ::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
}

@media screen and (max-width: 321px) {
    .action-bar input {
        width: -webkit-fill-available;
    }

    .action-bar button {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 321px) {
    .action-bar input {
        width: -webkit-fill-available;
    }

    .action-bar button {
        width: -webkit-fill-available;
    }
}