.modal {
    width: 350px;
    position: fixed;
    right: calc(50% - 175px);
    background-color: var(--background-table-color);
    border: 1.5px solid var(--border-color);
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    top: 25%;
    max-height: 60%;
    overflow: scroll;
}

.modal[data-show=false] {
    display: none;
    visibility: hidden;
}

.modal[data-show=true] {
    display: unset;
    visibility: visible;
}

.modal>h1 {
    font-size: 1.2em;
    margin: 5px;
}

.modal>.modal-class-btn {
    width: 2em;
    height: 2em;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-class-btn > img {
    width: 2em;
    height: 2em;
}