:root {
  --primary-color: #d3455a;
  --secondary-color: #eebac2;
  --text-primary-color: #273844;
  --text-secondary-color: #ffffff;
  --input-label-color: #3c505f;
  --input-placeholder-color: #c5ced6;
  --background-color: #f7f8fa;
  --background-table-color: #ffffff;
  --border-color: #c5ced6;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: sans-serif;
  color: #273844;
}



a:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
